@import '../../styles/variables.scss';

.info {
  color: red;
  display: flex;
  flex-direction: column;
  font-family: 'Breathe Fire II';
  text-align: center;

  &__scroll {
    padding: 0 0.5em 0.5em;
  }

  & h1 {
    font-size: 6em;
    text-shadow: 0 0 5px red;
    filter: blur(1.1px);
  }

  &__text {
    font-size: 3em;
    line-height: 90%;
    text-shadow: 0 0 5px red;
    filter: blur(1.1px);
  }

  &__status {
    margin-top: 4em;
    display: flex;
    justify-content: center;
  }

  @media #{$tablet} {
    &__scroll {
      padding: 0 3em 3em;
    }
  }
}
