.media {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-glow {
    box-shadow: 0 0 1.5em 2em rgba(0, 255, 0, 0.7);
  }

  &__dev {
    position: fixed;
    bottom: 1em;
    left: 1em;
  }
}
