.hud {
  &__section {
    position: fixed;
    padding: 1em;
    opacity: 0;
    transition: 0.5s opacity;

    &-show {
      opacity: 1;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;

    & img {
      width: 8em;
      height: 8em;
      object-fit: contain;
      object-position: center top;
      transition: 0.5s filter;
    }

    &-white {
      filter: saturate(0%) brightness(400%);
    }
  }

  &__stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: -1.5em;
    left: 1em;

    & img {
      width: 3.5em;
      height: 3.5em;
    }

    & span {
      color: red;
      font-family: 'Breathe Fire II';
      font-size: 6.5em;
      font-style: italic;
    }

    &__spacer {
      width: 5.5em;
    }
  }

  &__icon {
    top: 0;
    right: 0;
  }

  &__controls-move {
    left: 0;
    top: 50vh;

    &__w {
      margin-left: calc(33% / 1.6);
    }

    &__asd {
      display: flex;
    }
  }

  &__controls-look {
    right: 0;
    top: 50vh;
  }

  &__guide {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__interaction {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      line-height: 70%;
      white-space: pre-line;
      font-family: 'Dungeon';
      font-size: 6em;
      text-align: center;
      color: white;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 5px white;
    }

    & h3 {
      font-family: 'Dungeon';
      color: white;
      font-size: 5em;
      font-style: italic;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 5px white;
    }

    &__time {
      color: white;
      font-family: 'AntPolt Expd';
      font-style: italic;
      font-weight: 900;
      font-size: 3em;
      text-shadow: 0 0 5px white;
      padding-bottom: 1em;
    }

    &__icon {
      max-height: 30vh;

      // height: 50%;
    }

    & > div {
      display: flex;
    }

    &__keycap {
      opacity: 1;
      color: red;
      border-color: red;
      box-shadow: 0 0 5px red;
      text-shadow: 0 0 5px red;
    }
  }
}

.red {
  color: red !important;
  text-shadow: 0 0 5px red !important;
}
