@import '../../styles/variables.scss';

.hud {
  &__section {
    position: fixed;
    padding: 1em;
    opacity: 0;
    transition: 0.5s opacity;

    &-show {
      opacity: 1;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    top: -1em;
    left: 0;
    right: 0;

    & img {
      width: 8em;
      height: 8em;
      object-fit: contain;
      object-position: center top;
      transition: 0.5s filter;
    }

    &-white {
      filter: saturate(0%) brightness(400%);
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    top: -1em;
    left: 0.5em;

    & > div {
      display: flex;
      align-items: center;
    }

    &--small {
      font-size: 0.5em !important;
    }

    & img {
      width: 1.5em;
      height: 1.5em;
      transform: translateY(17.5%);
    }

    & span {
      color: red;
      font-family: 'Breathe Fire II';
      font-size: 3em;
      font-style: italic;
    }

    &__spacer {
      width: 3em;
    }

    @media #{$tablet} {
      left: 1em;
      top: -1.5em;
      flex-direction: row;

      & img {
        width: 3.5em;
        height: 3.5em;
        transform: translateY(17.5%);
      }

      & span {
        font-size: 6.5em;
      }
    }
  }

  &__icon {
    top: 0;
    right: 1em;
  }

  &__controls-move {
    left: 0;
    top: 50vh;

    &__w {
      margin-left: calc(33% / 1.6);
    }

    &__asd {
      display: flex;
    }

    &-mobile {
      top: unset;
      bottom: 0;
      transform: translateY(-30%);
      scale: 0.8;

      &__front {
        transform: translateX(-25%);
      }

      &__back {
        transform: translate(-10%, 90%);
      }
    }
  }

  &__controls-look {
    right: 0;
    top: 50vh;
  }

  &__guide {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__interaction {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      line-height: 70%;
      white-space: pre-line;
      font-family: 'Dungeon';
      font-size: 4em;
      text-align: center;
      color: white;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 5px white;
    }

    & h3 {
      font-family: 'Dungeon';
      color: white;
      font-size: 3em;
      font-style: italic;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 5px white;
    }

    &__time {
      color: white;
      font-family: 'AntPolt Expd';
      font-style: italic;
      font-weight: 900;
      font-size: 2em;
      text-shadow: 0 0 5px white;
      padding-bottom: 1em;
    }

    &__icon {
      max-height: 20vh;
    }

    @media #{$tablet} {
      & h1 {
        font-size: 6em;
      }

      & h3 {
        font-size: 5em;
      }

      &__icon {
        max-height: 30vh;
      }

      &__time {
        font-size: 3em;
      }
    }

    & > div {
      display: flex;
    }

    &__keycap {
      opacity: 1 !important;
      color: red !important;
      border-color: red !important;
      box-shadow: 0 0 5px red !important;
      text-shadow: 0 0 5px red !important;
    }
  }
}

.red {
  color: red !important;
  text-shadow: 0 0 5px red !important;
}
