.hud {
  // position: fixed;
  // width: 100vw;
  // height: 100vh;

  &__section {
    position: fixed;
    padding: 1em;
  }

  &__logo {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    // background-color: rgba(0, 255, 255, 0.2);
  }

  &__stats {
    top: 0;
    left: 0;
    // background-color: rgba(0, 0, 255, 0.2);
  }

  &__icon {
    top: 0;
    right: 0;
    // background-color: rgba(255, 0, 255, 0.2);
  }

  &__controls-move {
    left: 0;
    top: 50vh;
    // background-color: rgba(0, 0, 255, 0.2);
  }

  &__controls-look {
    right: 0;
    top: 50vh;
    // background-color: rgba(0, 0, 255, 0.2);
  }

  &__guide {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: rgba(0, 0, 255, 0.2);
  }

  &__interaction {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
