@import '../../styles/variables.scss';

.loading {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: red;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    font-family: 'Breathe Fire II';
  }

  &__disclaimer {
    text-transform: uppercase;
    font-family: 'Arial';
    padding: 2em;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__pointer {
    cursor: pointer;
  }

  @media #{$mobile} {
    &__title {
      font-size: 18vh;
    }

    &__disclaimer {
      font-size: 0.7em;
    }
  }

  @media #{$tablet} {
    &__title {
      font-size: 25vh;
    }

    &__disclaimer {
      font-size: 1em;
    }
  }

  @media #{$desktop} {
    &__title {
      font-size: 45vh;
    }

    &__disclaimer {
      font-size: 0.7em;
    }
  }
}
