@import '../styles/variables.scss';

.index {
  display: flex;
  flex-direction: column;
  color: red;

  & h1 {
    font-family: 'Breathe Fire II';
    font-size: 8em;
    font-style: italic;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
  }

  & a {
    display: flex;
  }

  &__logos {
    position: absolute;
    bottom: 1em;
  }

  & img {
    height: 2em;
    padding: 0 1em;
  }

  @media #{$tablet} {
    & h1 {
      font-size: 15em;
    }

    & img {
      height: 5em;
      padding: 0 2em;
    }
  }

  @media #{$desktop} {
    & h1 {
      font-size: 20em;
    }
  }

  @media #{$desktop-l} {
    & h1 {
      font-size: 30em;
    }
  }
}
