@import '../styles/variables.scss';

.index {
  display: flex;
  flex-direction: column;
  color: red;

  &__main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & h1 {
    font-family: 'Breathe Fire II';
    font-size: 8em;
    font-style: italic;
    line-height: 90%;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 5px red;
    filter: blur(1.1px);
  }

  &__bottom-actions {
    display: flex;
  }

  &__logos {
    padding-bottom: 1em;
  }

  & img {
    height: 2em;
    padding: 0 1em;
  }

  @media #{$tablet} {
    & h1 {
      font-size: 15em;
      line-height: 80%;
    }

    & img {
      height: 5em;
      padding: 0 2em;
    }
  }

  @media #{$desktop} {
    & h1 {
      line-height: 80%;
      font-size: 20em;
    }
  }

  @media #{$desktop-l} {
    & h1 {
      line-height: 75%;
      font-size: 30em;
    }
  }
}
