.index {
  display: flex;
  flex-direction: column;
  color: red;

  & h1 {
    font-family: 'Breathe Fire II';
    font-size: 17em;
    font-style: italic;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
  }

  & a {
    display: flex;
  }

  &__logos {
    position: absolute;
    bottom: 1em;
  }

  & img {
    height: 5em;
    padding: 0 2em;
  }
}
