@import '../../styles/variables.scss';

.howto {
  color: red;
  font-family: 'Dungeon';

  &__scroll {
    padding: 0 0.5em 0.5em;
  }

  &__scroll--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: blur(1px);
    padding-top: 1em;
    font-size: 2.5em;

    & h3 {
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      padding: 0.5em 0 0;
    }

    & span {
      font-style: italic;
      padding-left: 0.25em;
      font-family: 'Breathe Fire II';
      transform: translateY(0.15em);
      font-weight: 900;
    }

    @media #{$tablet} {
      font-size: 4em;
      flex-direction: row;
    }

    @media #{$desktop} {
      padding-top: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
    max-width: 900px;

    @media #{$desktop} {
      flex-direction: row;
    }

    &__section {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      margin: 0 1em;
      align-items: stretch;
      filter: blur(1px);

      @media #{$tablet} {
        width: 40vw;
      }

      &--bold {
        text-transform: uppercase;
        font-weight: 900;
      }

      &--desc {
        font-family: Allan;
        font-size: 1.5em !important;
      }

      &--spacer {
        flex: 1 1;
      }

      &--inner {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        border: 10px solid red;
        border-radius: 50px;

        & span {
          font-size: 3.5em;
          line-height: 90%;
        }

        & img {
          width: 35%;
        }
      }

      & span {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__status {
    display: flex;
    padding-bottom: 1em;
    filter: blur(1px);
  }

  &__description {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 2em;

    @media #{$desktop} {
      padding-bottom: 0;
    }
  }
}
