.keycap {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 20px;
  opacity: 0.45;
  color: white;
  text-shadow: 0 0 5px white;
  margin: 0 1em;
  user-select: none;

  &-bordered {
    border-color: white;
    box-shadow: 0 0 5px white;

    &-active,
    &:not(:focus):hover {
      border-color: red;
      box-shadow: 0 0 5px red;
    }

    &:focus {
      border-color: transparent;
      box-shadow: 0 0 5px white;
    }
  }

  &__inner {
    font-family: 'Dungeon';
    font-weight: bold;
    font-size: 5rem;
    transform: translateY(0.3rem);

    &-bordered {
      font-family: 'Arial';
      transform: translateY(0) scale(0.8) !important;
    }

    &-rotate90 {
      transform: rotate(90deg) scale(0.8) !important;
    }

    &-rotate90original {
      transform: rotate(90deg) !important;
    }
  }

  &-active,
  &:not(:focus):hover {
    cursor: pointer;
    opacity: 1;
    color: red;
    text-shadow: 0 0 5px red;
  }

  &-small {
    width: 3rem;
    height: 3rem;
    border-radius: 14px;

    & span {
      font-size: 3rem !important;
      transform: translateY(0.15rem);
    }
  }

  &-fit {
    width: 100%;
  }
}
